<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700&display=swap" />
  <link rel="stylesheet" href="/styles/design.css" />
</head>

<body>

  <h1 id="searchTitle" class="text-center mt-5">
    Search Results > <span>YOUR_SEARCH_QUERY_HERE</span>
  </h1>

  <div class="card w-75 mb-5">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/YOUR_POSTER_PATH_HERE" alt="" class="img-fluid card-img" />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">YOUR_MOVIE_TITLE_HERE</h2>

          <hr />
          <p class="card-text">YOUR_MOVIE_OVERVIEW_HERE</p>

          <hr />

          <p class="card-text">
            Date Published: <b>YOUR_RELEASE_DATE_HERE</b>
          </p>

          <p class="card-text">Total Votes: <b>YOUR_VOTE_COUNT_HERE</b></p>

          <p class="card-text">Rating: <b>YOUR_VOTE_AVERAGE_HERE</b></p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>